@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  --background: #1d1f2a;
  --foreground: #ffffff;
  --darkpurple: #6a51e1;
  --purple: #886fff;
  --lightpurple: #be80ff;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-darkpurple: var(--darkpurple);
  --color-purple: var(--purple);
  --color-lightpurple: var(--lightpurple);
}

body {
  font-family: Urbanist, sans-serif;
  background-color: var(--background);
  color: var(--foreground);
}

.multi-gradient-bg {
  background-color: #ffffff;
  background-image: 
    radial-gradient(at 10% 20%, rgb(216, 230, 230) 0%, rgba(255, 255, 255, 0) 70%),
    radial-gradient(at 20% 30%, rgb(255, 198, 255) 0%, rgba(255, 255, 255, 0) 90%),
    radial-gradient(at 40% 50%, rgba(231, 239, 255, 0.89) 0%, rgba(255, 255, 255, 0) 70%),
    radial-gradient(at 60% 70%, rgba(126, 169, 255, 0.849) 0%, rgba(255, 255, 255, 0) 70%),
    radial-gradient(at 70% 80%, rgba(68, 85, 243, 0.863) 0%, rgba(255, 255, 255, 0) 70%),
    radial-gradient(at 80% 90%, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 70%);
}